{# This template is the home screen that pulls a list of the files, and
allows the user to click on a file name to render the entry specific to that
file. #}

{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock title %}

{% block body %}
    <h1>All Pages</h1>

    <ul>
        {% for entry in entries %}
            <li>
                <a href="{% url 'single_entry' entry %}">{{ entry }}</a>
            </li>
        {% endfor %}
    </ul>

{% endblock body %}
